AddType application/xhtml+xml .html
AddHandler server-parsed html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /shimajiro/app/webroot
    RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpg|jpeg|swf|khm|dmt|hmt|3gp|3g2|ifm) [NC]
    RewriteCond %{REQUEST_FILENAME} !^(.*)\\(src)\\.* [NC]
    RewriteRule ^(ap/.*)$ index.php [QSA,L]

    #RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpg|jpeg|swf)$ [NC]
    #RewriteRule ^(ap/.*)$ index.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
