[submodule "plugins/lazy_model"]
	path = plugins/lazy_model
	url = https://github.com/Phally/lazy_model
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = https://github.com/cakephp/debug_kit.git
[submodule "plugins/secured"]
	path = plugins/secured
	url = https://github.com/plank/secured.git
[submodule "plugins/wikiformat"]
	path = plugins/wikiformat
	url = git@github.com:hidetoshing/wikiformat.git
