[submodule "plugins/lazy_model"]
	path = plugins/lazy_model
	url = https://github.com/Phally/lazy_model
[submodule "plugins/secured"]
	path = plugins/secured
	url = https://github.com/plank/secured.git
